{{extend 'layout.html'}}

<div class="page-title">
  <div class="container">
    <h1>Register</h1>
    <div class="breadcrums">
      <ul>
        <li>You are here:</li>
        <li><a href="{{=URL('default')}}">Home</a>
        <li>Register</li>
      </ul>
    </div>
  </div>
  <div class="clearfix"></div>
</div>


<div class="container">
  <div class="row">
    <div class="col-sm-1 col-md-2 col-lg-3"></div>
      <div class="col-lg-6">
       	{{=form}}
      </div>
    <div class="col-sm-1 col-md-2 col-lg-3"></div>
  </div>
</div>

{{block page_js}}
<script>
jQuery("#registration_form input:visible:enabled:first").focus();
web2py_validate_entropy(jQuery('#password-field'), 70);
</script>
{{end page_js}}
