{{extend 'layout.html'}}

<div class="container">
  <h2 class="error-header">Something is technically wrong...</h2>
  <div class="col-xs-12 col-sm-8 col-sm-offset-2">
    <p>{{=error_details}}</p>
    <br/>
	  {{if session.error_message:}}
	  <p>Error: {{=session.error_message}}</p>
	  {{pass}}
    <br/>
    <div class="text-center">
  	  <a href="{{=recovery_link}}" class="btn btn-primary btn-lg "><span class="glyphicon glyphicon-circle-arrow-left"></span> Back To Safety</a>
    </div>
  </div>
</div>
