{{extend 'layout.html'}}

<div class="page-title">
  <div class="container">
    <h1>{{=error_title}}</h1>
    <div class="breadcrums">
      <ul>
        <li>You are here:</li>
        <li><a href="{{=URL('default')}}">Home</a>
        <li><a href="{{=URL('default')}}">{{=error_title}}</a>
      </ul>
    </div>
  </div>
  <div class="clearfix"></div>
</div>

<div class="container">
  <div class="error-content" style="text-align: center;">
	  <div class="error-details">
	  	<p>{{=error_details}}</p>
	  </div>
	  {{if session.error_message:}}
	  <div class="error-message">
	  	<p>{{=session.error_message}}</p>
	  </div>
	  {{pass}}
	  <div class="error-recovery-link">
	  	<a href="{{=recovery_link}}">Back To Safety</a>
	  </div>
	  <div class="web2py-error-message" style="margin-top: 20px;">
	    &lt; Ticket issued: <a href="/admin/default/ticket/{{=request.vars.ticket}}" target="_blank" data-toggle="tooltip" data-placement="bottom" title="This link will be removed before submitting the assessment">{{=request.vars.ticket}}</a> &gt;
	  </div>
  </div>
</div>
