{{extend 'layout.html'}}

<div class="container">
  <div class="row">
    <div class="{{if response.r != None:}}col-md-3{{else:}}col-md-10 col-md-offset-1{{pass}}">
      <h2>Search</h2>
      <form action="{{=URL('default', 'search')}}" method="get">
        <div class="form-group">
          <label for="name">Item's Name</label>
          <input type="text" class="form-control" id="name" name="q" value="{{=response.q}}"/>
        </div>
        <div class="form-group">
          <label for="category">Category</label>
          <select name="c" id="category" class="form-control">
            <option value="">(not selected)</option>
            {{for c in response.categories:}}
            <option value="{{=c.id}}" {{if response.c == str(c.id):}}selected="selected"{{pass}}>{{=c.name}}</option>
            {{pass}}
          </select>
        </div>
        <div class="form-group">
          <label for="min">Value</label>
          <div class="form-inline">
            <div class="col-md-12 input-group">
              <span class="input-group-addon">&pound;</span>
              <input type="text" class="form-control" id="min" name="min" placeholder="min" value="{{=response.min}}"/>
            </div>
            <label for="max">to</label>
            <div class="col-md-12 input-group">
              <span class="input-group-addon">&pound;</span>
              <input type="text" class="form-control" id="max" name="max" placeholder="max" value="{{=response.max}}"/>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="user">User</label>
          <input type="text" class="form-control" id="user" name="u" value="{{=response.u}}" list="users"/>
          <datalist id="users">
            {{for u in response.users:}}
            <option value="{{=u.username}}"/>
            {{pass}}
          </datalist>
        </div>
        <div class="form-group">
        <button class="btn btn-primary pull-right" type="submit">Search</button>
        </div>
      </form>
    </div>
    <div class="{{if response.r != None:}}col-md-9{{else:}}hidden{{pass}}">
      <h2>Search Result</h2>
      {{if len(response.results) > 0:}}
      <ul class="collection-list">
        {{for result in response.results:}}
        <li class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <a href="{{=URL('object', 'view', args=[result.object.id])}}">
              <img src="{{=URL('default', 'download', args=[result.object.image])}}" alt="{{=result.object.name}}"/>
            </a>
            <div class="caption">
              <h3><a href="{{=URL('object', 'view', args=[result.object.id])}}">{{=result.object.name}}</a></h3>
              <span class="glyphicon glyphicon-user"></span>
              <a href="{{=URL('collection', 'user', args=[result.object.owner])}}" title="View profile of {{=result.object.name}}">{{=result.object.owner.username}}</a>
              <a href="{{=URL('object', 'view', args=[result.object.id])}}" class="btn btn-default btn-sm pull-right" title="View the detials for {{=result.object.name}}">Details</a>
            </div>
          </div>
        </li>
        {{pass}}
      </ul>
      {{else:}}
      <div class="alert alert-info">No results matching those criteria.</div>
      {{pass}}
    </div>
  </div>
</div>
