{{extend 'layout.html'}}
<div class="page-title">
  <div class="container">
    <h1>Delete Collection</h1>
    <div class="breadcrums">
      <ul>
        <li>You are here:</li>
        <li><a href="{{=URL('default')}}">Home</a></li>
        <li><a href="{{=URL('view')}}">Collections</a></li>
        <li>Delete</li>
      </ul>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<div class="container">
  <div>{{=response.flash}}</div>
  <div class= "row">
    <div class='col-sm-5 col-md-5 col-lg-5'><p>This action is permenant and cannot be undone.<br><br>
    *All items in this collection will be added to the default collection on delete.<br>{{=form}}</p></div>
  </div>
</div>
