{{extend 'layout.html'}}
<div class="page-title">
  <div class="container">
    <h1>Edit Collection - {{=response.flash or ''}}</h1>
    <div class="breadcrums">
      <ul>
        <li>You are here:</li>
        <li><a href="{{=URL('default')}}">Home</a></li>
        <li><a href="{{=URL('default')}}">Collections</a></li>
        <li><a href="{{=URL('default')}}">Edit Collection</a></li>
      </ul>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<body style = "text-align: center;">
  {{=form}}
</body>


<!-- {{=BEAUTIFY(request.vars)}} -->
