{{extend 'layout.html'}}
<div class="page-title">
  <h1>Pokemon 1st Edition</h1>
  <div class="breadcrums">
    <ul>
      <li>You are here:</li>
      <li><a href="{{=URL('default')}}">Home</a>
      <li><a href="{{=URL('default')}}">Collections</a>
      <li><a href="{{=URL('default')}}">Pokemon 1st Edition</a>
    </ul>
  </div>
  <div class="clearfix"></div>
</div>
<div class="row">
  <div class="col-md-3">
    <h3>Colections</h3>
  </div>
  <div class="col-md-9">
    <div class="row">
      <div class="tabs">

      </div>
      <div class="search">
      </div>
      <div class="settings">
      </div>
    </div>
  </div>
</div>
