{{extend 'layout.html'}}
<div class="page-title">
  <div class="container">
    <h1>{{=response.collection.name}}</h1>
    <div class="breadcrums">
      <ul>
        <li>You are here:</li>
        <li><a href="{{=URL('default')}}">Home</a></li>
        <li><a href="{{=URL('collection','user',args=[response.collection.owner])}}">{{=response.owner.username}}'s Collections</a></li>
        <li>{{=response.collection.name}}</li>
      </ul>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h3>Colections</h3>
      <div class="list-group">
        {{for collection in response.collections:}}
        <a href="{{=URL('collection', 'view', args=[collection.id])}}" class="list-group-item {{if collection.id == response.collection.id:}}active{{pass}}">
          {{=collection.name}} {{if collection.public:}}<span class="badge" aria-label="Public Collection"><span class="glyphicon glyphicon-eye-open"></span></span>{{pass}}
        </a>
        {{pass}}
      </div>
      <hr/>
      {{if auth.user_id == response.collection.owner:}}
      <a href="{{=URL('collection', 'create', args=[response.collection.id])}}" class="btn btn-small btn-success pull-right btn-sm"><span class="glyphicon glyphicon-plus"></span> New Collection</a>
      {{pass}}
    </div>
    <div class="col-md-9">
      <div class="tabs">
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#all" aria-controls="all" role="tab" data-toggle="tab">All</a></li>
          <li role="presentation"><a href="#owned" aria-controls="owned" role="tab" data-toggle="tab">Owned</a></li>
          <li role="presentation"><a href="#wanted" aria-controls="wanted" role="tab" data-toggle="tab">Wanted</a></li>
          <li role="presentation"><a href="#tradable" aria-controls="tradable" role="tab" data-toggle="tab">Tradable</a></li>
          {{if auth.user_id == response.collection.owner:}}
          <li class="collection-settings">
            <div class="btn-group" role="group" aria-label="Options">
              <a href="{{=URL('object', 'create', vars=dict(collection=response.collection.id))}}" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-plus"></span> New Object</a>
              <div class="btn-group btn-group-sm" role="group">
                {{if response.collection.name != 'Default': }}
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="glyphicon glyphicon-cog"></span> Settings
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="{{=URL('collection', 'edit', args=[response.collection.id])}}">Edit</a></li>
                    <li role="seperator" class="divider"></li>
                    <li><a href="{{=URL('collection','delete', args=[response.collection.id])}}">Delete</a></li>
                </ul>
                {{pass}}
              </div>
            </div>
          </li>
          {{pass}}

          <li class="collection-search">
            <form role="search" method="get">
              <div class="input-group input-group-sm">
                <input type="text" autocomplete="off"  value="{{=response.q}}" name="q" class="form-control input-sm" placeholder="Search this collection" list="objectsearch">
                <span class="input-group-btn">
                  <button type="submit" class="btn btn-default btn-sm" title="Search"><i class="glyphicon glyphicon-search"></i></button>
                </span>
              </div>
            </form>
          </li>
        </ul>
        <datalist id="objectsearch">
          {{for o in response.datalist:}}
          <option value="{{=o.name}}"></option>
          {{pass}}
        </datalist>
        <!-- Tab panes -->{{include 'messages.html'}}
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active padding-top-20" id="all">
            {{if len(response.objects)> 0:}}
            {{for o in response.objects:}}
            <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                <a href="{{=URL('object', 'view', args=[o.id])}}">
                  <img src="{{=URL('default', 'download', args=[o.image])}}"/>
                </a>
                <div class="caption">
                  <h3><a href="{{=URL('object', 'view', args=[o.id])}}">{{=o.name}}</a></h3>
                  <hr/>
                  <a href="{{=URL('collection', 'wantit', args=[o.id], vars=dict(url=URL('collection', 'view', args=[request.args[0]])))}}" class="btn btn-primary btn-sm">Want It</a>
                  <a href="{{=URL('collection', 'getit', args=[o.id])}}" class="btn btn-warning btn-sm pull-right">Get It</a>
                </div>
              </div>
            </div>
            {{pass}}
            {{else:}}
            <div class="alert alert-info">There are no objects in this collection.</div>
            {{pass}}
          </div>
          <div role="tabpanel" class="tab-pane padding-top-20" id="owned">
            {{if len(response.owned)> 0:}}
            {{for o in response.owned:}}
              <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                  <img src="{{=URL('default', 'download', args=[o.image])}}"/>
                  <div class="caption">
                    <h3><a href="{{=URL('object', 'view', args=[o.id])}}">{{=o.name}}</a></h3>
                    <hr/>
                    <a href="{{=URL('collection', 'wantit', args=[o.id])}}" class="btn btn-primary btn-sm">Want It</a>
                    <a href="{{=URL('collection', 'getit', args=[o.id])}}" class="btn btn-warning btn-sm pull-right">Get It</a>
                  </div>
                </div>
              </div>
            {{pass}}
            {{else:}}
            <div class="alert alert-info">There are no 'owned' objects in this collection.</div>
            {{pass}}
          </div>
          <div role="tabpanel" class="tab-pane padding-top-20" id="wanted">
            {{if len(response.wanted)> 0:}}
            {{for o in response.wanted:}}
            <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                <img src="{{=URL('default', 'download', args=[o.image])}}"/>
                <div class="caption">
                  <h3><a href="{{=URL('object', 'view', args=[o.id])}}">{{=o.name}}</a></h3>
                  <hr/>
                  <a href="{{=URL('collection', 'wantit', args=[o.id])}}" class="btn btn-primary btn-sm">Want It</a>
                  <a href="{{=URL('collection', 'getit', args=[o.id])}}" class="btn btn-warning btn-sm pull-right">Get It</a>
                </div>
              </div>
            </div>
            {{pass}}
            {{else:}}
            <div class="alert alert-info">There are no 'wanted' objects in this collection.</div>
            {{pass}}
          </div>
          <div role="tabpanel" class="tab-pane padding-top-20" id="tradable">
            {{if len(response.tradable) > 0:}}
            {{for o in response.tradable:}}
            <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                <img src="{{=URL('default', 'download', args=[o.image])}}"/>
                <div class="caption">
                  <h3><a href="{{=URL('object', 'view', args=[o.id])}}">{{=o.name}}</a></h3>
                  <hr/>
                  <a href="{{=URL('collection', 'wantit', args=[o.id])}}" class="btn btn-primary btn-sm">Want It</a>
                  <a href="{{=URL('collection', 'getit', args=[o.id])}}" class="btn btn-warning btn-sm pull-right">Get It</a>
                </div>
              </div>
            </div>
            {{pass}}
            {{else:}}
            <div class="alert alert-info">There are no 'tradable' objects in this collection.</div>
            {{pass}}
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
