{{extend 'layout.html'}}
<div class="page-title">
  <div class="container">
  <h1>Pokemon 1st Edition</h1>
  <div class="breadcrums">
    <ul>
      <li>You are here:</li>
      <li><a href="{{=URL('default')}}">Home</a>
      <li><a href="{{=URL('default')}}">Collections</a>
      <li><a href="{{=URL('default')}}">Pokemon 1st Edition</a>
    </ul>
  </div>
  <div class="clearfix"></div>
</div>
</div>
<div class="container">
<div class="row">
  <div class="col-md-3">
    <h3>Colections</h3>
    <div class="list-group">
      {{for collection in response.collections:}}
      <a href="{{=URL('collection', 'view', args=[collection.id])}}" class="list-group-item {{if collection.id == request.args(0):}}active{{pass}}">
        {{=collection.name}}
      </a>
      {{pass}}
    </div>
  </div>
  <div class="col-md-9">
      <div class="tabs">
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#all" aria-controls="all" role="tab" data-toggle="tab">All</a></li>
            <li role="presentation"><a href="#owned" aria-controls="owned" role="tab" data-toggle="tab">Owned</a></li>
            <li role="presentation"><a href="#wanted" aria-controls="wanted" role="tab" data-toggle="tab">Wanted</a></li>
            <li role="presentation"><a href="#tradable" aria-controls="tradable" role="tab" data-toggle="tab">Tradable</a></li>
            <li class="collection-settings">
              <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  Settings
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
              </div>
            </li>

            <li class="collection-search">
                <form role="search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search this collection">
                    <span class="input-group-btn">
                      <button class="btn btn-primary" type="button" title="Search"><i class="glyphicon glyphicon-search"></i></button>
                    </span>
                  </div>
                </form>
            </li>
          </ul>


  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="all">

        {{for o in response.objects:}}
          <div class="panel panel-default col-md-4">
            <img src="{{=URL('default', 'download', args='thumbnail.jpg')}}" style="max-height:100px;"/>
            <div class="panel-body">

            </div>
          </div>
        {{pass}}

          <div class="panel panel-default col-md-4">
            <div class="panel-body">
              Panel content 1
            </div>
          </div>
          <div class="panel panel-default col-md-4">
            <div class="panel-body">
              Panel content 1
            </div>
          </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="owned">
      <div class="panel panel-default col-md-3">
        <div class="panel-body">
          Panel content 2
        </div>
      </div>

      <div class="panel panel-default col-md-3">
        <div class="panel-body">
          Panel content 2
        </div>
      </div>
      <div class="panel panel-default col-md-3">
        <div class="panel-body">
          Panel content 2
        </div>
      </div>
      <div class="panel panel-default col-md-3">
        <div class="panel-body">
          Panel content 2
        </div>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="wanted">
      <div class="panel panel-default col-md-3">
        <div class="panel-body">
          Panel content 3
        </div>
      </div>

      <div class="panel panel-default col-md-3">
        <div class="panel-body">
          Panel content 3
        </div>
      </div>
      <div class="panel panel-default col-md-3">
        <div class="panel-body">
          Panel content 3
        </div>
      </div>
      <div class="panel panel-default col-md-3">
        <div class="panel-body">
          Panel content 3
        </div>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="tradable">
      <div class="panel panel-default col-md-3">
        <div class="panel-body">
          Panel content 4
        </div>
      </div>

      <div class="panel panel-default col-md-3">
        <div class="panel-body">
          Panel content 4
        </div>
      </div>
      <div class="panel panel-default col-md-3">
        <div class="panel-body">
          Panel content 4
        </div>
      </div>
      <div class="panel panel-default col-md-3">
        <div class="panel-body">
          Panel content 4
        </div>
      </div>
    </div>
  </div>

  </div>
    </div>
  </div>
</div>
