{{extend 'layout.html'}}

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="pull-right">
        <a href="{{=URL('trade', 'new')}}" class="btn btn-success">New Trade Proposal</a>
      </div>
    </div>
  </div>
  
  <div class="row">
    {{panel_type = 'panel-default'}}
    {{panel_heading = 'In Preparation'}}
    {{help_text = 'Only you can see and edit these trade proposals. They have not been sent yet.'}}
    {{proposals = response.prepare}}
    {{text_if_empty = 'No trade proposals in preparation.'}}
    {{include 'trade/proposal_state.html'}}
    
    {{panel_type = 'panel-default'}}
    {{panel_heading = 'Received'}}
    {{help_text = 'Trade proposals you can respond to.'}}
    {{proposals = response.received}}
    {{text_if_empty = 'No received trade proposals.'}}
    {{include 'trade/proposal_state.html'}}
    
    {{panel_type = 'panel-default'}}
    {{panel_heading = 'Offered'}}
    {{help_text = 'Trade proposals you have offered to other users. You can cancel them, but they may not be edited.'}}
    {{proposals = response.sent}}
    {{text_if_empty = 'No offered trade proposals.'}}
    {{include 'trade/proposal_state.html'}}
    
    {{panel_type = 'panel-success'}}
    {{panel_heading = 'Accepted'}}
    {{help_text = 'Trade proposals which you have accepted.'}}
    {{proposals = response.accepted}}
    {{text_if_empty = 'No accepted trades.'}}
    {{include 'trade/proposal_state.html'}}
    
    {{panel_type = 'panel-danger'}}
    {{panel_heading = 'Rejected'}}
    {{help_text = 'Trade proposals which have been rejected.'}}
    {{proposals = response.rejected}}
    {{text_if_empty = 'No rejected trades.'}}
    {{include 'trade/proposal_state.html'}}
    
    {{panel_type = 'panel-warning'}}
    {{panel_heading = 'Cancelled'}}
    {{help_text = 'Trade proposals which have been cancelled.'}}
    {{proposals = response.cancelled}}
    {{text_if_empty = 'No cancelled trades.'}}
    {{include 'trade/proposal_state.html'}}
  </div>
</div>
