{{extend 'layout.html'}}

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="pull-right">
        <a href="{{=URL('trade', 'new')}}" class="btn btn-success">New Trade Deal</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-4" style="min-height: 135px;">
      <div class="panel panel-default">
        <div class="panel-heading">
          In Preparation <a href="#" id="prep-help" data-toggle="tooltip" class="pull-right" title="Only you can see and edit these."><span aria-label="Get help here" class="glyphicon glyphicon-question-sign"></span></a></div>
        <div class="list-group trade-list-group">
          {{if len(response.prepare) > 0:}}
            {{for i in response.prepare:}}
              <a href="{{=URL('trade', 'view', args=[i.id])}}" class="list-group-item">
                {{=i.title}}
              </a>
            {{pass}}
          {{else:}}
          <div class="alert alert-info">No trades in preparation.</div>
          {{pass}}
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4" style="min-height: 135px;">
      <div class="panel panel-default">
        <div class="panel-heading">
          Received<a href="#" id="received-help" data-toggle="tooltip" class="pull-right" title="Deals you can respond to."><span aria-label="Get help here" class="glyphicon glyphicon-question-sign"></span></a>
        </div>
        <div class="list-group trade-list-group">
          {{if len(response.received) > 0:}}
            {{for i in response.received:}}
            <a href="{{=URL('trade', 'view', args=[i.id])}}" class="list-group-item">
              {{=i.title}}
            </a>
            {{pass}}
          {{else:}}
          <div class="alert alert-info">No received trades.</div>
          {{pass}}
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4" style="min-height: 135px;">
      <div class="panel panel-default">
        <div class="panel-heading">
          Offered<a href="#" id="offered-help" data-toggle="tooltip" class="pull-right" title="Deals you offered to other users. You cannot edit them but they can be cancelled."><span aria-label="Get help here" class="glyphicon glyphicon-question-sign"></span></a>
        </div>
        <div class="list-group trade-list-group">
          {{if len(response.sent) > 0:}}
            {{for i in response.sent:}}
            <a href="{{=URL('trade', 'view', args=[i.id])}}" class="list-group-item">
              {{=i.title}}
            </a>
            {{pass}}
          {{else:}}
            <div class="alert alert-info">No sent trades.</div>
          {{pass}}
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4" style="min-height: 135px;">
      <div class="panel panel-success">
        <div class="panel-heading">
          Accepted
        </div>
        <div class="list-group trade-list-group">
          {{if len(response.accepted) > 0:}}
            {{for i in response.accepted:}}
            <a href="{{=URL('trade', 'view', args=[i.id])}}" class="list-group-item">
              {{=i.title}}
            </a>
            {{pass}}
          {{else:}}
            <div class="alert alert-info">No accepted trades.</div>
          {{pass}}
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4" style="min-height: 135px;">
      <div class="panel panel-danger">
        <div class="panel-heading">
          Rejected
        </div>
        <div class="list-group trade-list-group">
          {{if len(response.rejected) > 0:}}
            {{for i in response.rejected:}}
            <a href="{{=URL('trade', 'view', args=[i.id])}}" class="list-group-item">
              {{=i.title}}
            </a>
            {{pass}}
          {{else:}}
            <div class="alert alert-info">No sent trades.</div>
          {{pass}}
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4" style="min-height: 135px;">
      <div class="panel panel-warning">
        <div class="panel-heading">
          Cancelled
        </div>
        <div class="list-group trade-list-group">
          {{if len(response.cancelled) > 0:}}
            {{for i in response.cancelled:}}
            <a href="{{=URL('trade', 'view', args=[i.id])}}" class="list-group-item">
              {{=i.title}}
            </a>
            {{pass}}
          {{else:}}
            <div class="alert alert-info">No sent trades.</div>
          {{pass}}
        </div>
      </div>
    </div>
  </div>
</div>
