{{extend 'layout.html'}}

<div class="container">
  <div class="col-sm-12 col-md-6 new-trade-search-option">
    <div class="panel panel-default new-trade-search-panel">
      <div class="panel-heading">
        Search for an item
      </div>
      <div class="panel-body">
        <p>Enter a search term for the item you are looking for and then click 'Search'.</p>
        <form action="{{=URL('default', 'search')}}" method="get" class="form-inline">
          <div class="form-group">
            <label for="search_term" style="margin-right: 10px;">Search:</label>
            <input type="search" class="form-control" name="q" id="search_term" value="{{if request.vars.q:}}{{=request.vars.q}}{{pass}}"/>
          </div>
          <button type="submit" class="btn btn-success">Search</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6 new-trade-search-option">
    <div class="panel panel-default new-trade-search-panel">
      <div class="panel-heading">
        Trade with a user
      </div>
      <div class="panel-body">
        <p>Start typing the username of the user you would like to trade with and then click 'Continue'.</p>
        <form action="{{=URL('trade', 'new_proposal')}}" method="get" class="form-inline">
          <div class="form-group">
            <label for="receiver" style="margin-right: 10px;">User:</label>
            <input type="text" name="receiver" id="receiver" list="users" class="form-control"/>
          </div>
          <button type="submit" class="btn btn-success"/>Continue</button>
        </form>
        <datalist id="users">
          {{for user in response.users:}}
          <option value="{{=user.username}}"/>
          {{pass}}
        </datalist>
      </div>
    </div>
  </div>
</div>
