<div class="container form-horizontal">
  {{include 'messages.html'}}
  <h2>Name</h2>
  <div class="form-group">
    <label for="title" class="col-md-2 control-label">Name</label>
    <div class="col-md-6">
      <input type="text" id="title" name="title" class="form-control" {{='placeholder' if current_proposal.title == DEFAULT_TRADE_TITLE else 'value'}}="{{=current_proposal.title}}"/>
    </div>
    <div class="col-md-4 form-helper">
      Name this trade. You can use this to help you identify this trade later. As examples, you could use the current date or the name of an item in the trade.
    </div>
  </div>
  <hr/>
  <h2>Select Items</h2>
  <div class="form-helper" style="margin-bottom: 25px;">
    Select items to add to the trade by clicking the 'Trade' button on items you wish to add.
  </div>
  <div class="form-group">
    <div class="col-md-12">
      <div class="col-md-3">
        {{for person in [('Your', users_collections), ('Their', other_users_collections)]:}}
        <h3 style="margin-top: 0;">{{=person[0]}} Collections</h3>
        <div class="collections-list">
          <div class="list-group">
            {{for collection in person[1]:}}
            <div>
              <a href="{{=URL(vars=dict(proposal=current_proposal.id, collection=collection.id))}}" class="list-group-item collection-link {{if collection.id == initial_collection.id:}}active{{pass}} proposal-button">
                {{=collection.name}}
              </a>
              <form>
                <input type="hidden" name="collection_id" value="{{=collection.id}}"/>
              </form>
            </div>
            {{pass}}
          </div>
        </div>
        {{pass}}
      </div>
      <div id="collection-items" class="col-md-9 trading-window">
        <div id="collection-item-template" class="col-md-4" style="display: none;">
          <div class="thumbnail thumbnail-small">
            <img src="data:"/>
            <div class="panel-body">
              <div class="object-name text-center"></div>
              <div class="form-group form-group-sm pull-right" style="padding: 5px 10px; margin-bottom: 0;">
                <label class="pull-left control-label" style="padding-top: 2px; margin-right: 5px;">Value:</label>
                <span class="item-value"></span>
              </div>
              <div class="clearfix"></div>
              <a href="#" class="btn btn-xs btn-success add-item proposal-button" style="display: none;">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Trade
              </a>
              <a href="#" class="btn btn-xs btn-danger remove-item proposal-button" style="display: none;">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Remove
              </a>
              <a href="{{=URL('object', 'view')}}" target="_blank" class="pull-right btn btn-xs btn-primary item-details proposal-button">Details</a>
            </div>
          </div>
        </div>
        {{items_in_proposal = [item.id for item in all_proposal_items.keys()]}}
        {{for item in initial_collection_items:}}
        {{in_proposal = item['id'] in items_in_proposal}}
        <div class="col-md-4 {{if in_proposal:}}selected-panel{{pass}} item-preview">
          <div class="thumbnail thumbnail-small">
            <img src="{{=URL('default', 'download', args=[item['image']])}}" alt="{{=item['name']}}"/>
            <div class="panel-body">
              <div class="object-name text-center">{{=item['name']}}</div>
              <div class="form-group form-group-sm pull-right" style="padding: 5px 10px; margin-bottom: 0;">
                <label class="pull-left control-label" style="padding-top: 2px; margin-right: 5px;">Value:</label>
                <span class="item-value">&pound;{{="%.2f" % item['value']}}</span>
              </div>
              <div class="clearfix"></div>
              {{if not in_proposal:}}
              <a href="{{=URL(vars=dict(proposal=current_proposal.id, collection=initial_collection.id, add=item['id']))}}" class="btn btn-xs btn-success add-item proposal-button">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Trade
              </a>
              {{else:}}
              <a href="{{=URL(vars=dict(proposal=current_proposal.id, collection=initial_collection.id, remove=item['id']))}}" class="btn btn-xs btn-danger remove-item proposal-button">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Remove
              </a>
              {{pass}}
              <a href="{{=URL('object', 'view', args=[item['id']])}}" target="_blank" class="pull-right btn btn-xs btn-primary item-details proposal-button">Details</a>
            </div>
          </div>
        </div>
        {{pass}}
      </div>
    </div>
  </div>
  <hr/>
  <div id="summary">
    <h2>Summary</h2>
    <p class="form-helper">Below you can view the summary of your trading proposal. You can set quantities here.</p>
    <div id="summary-section" class="form-group">
      {{section_id = 'your-items'}}
      {{proposal_items_label = 'Your items'}}
      {{proposal_items = users_proposal_items}}
      {{include 'trade/proposal_items.html'}}

      {{section_id = 'their-items'}}
      {{proposal_items_label = 'Their items'}}
      {{proposal_items = other_users_proposal_items}}
      {{include 'trade/proposal_items.html'}}
    </div>
  </div>
  <div>
    <h2>Message</h2>
    <p class="form-helper">You can add a message here to send to the recipient.</p>
    <div class="form-group">
      <div class="col-md-12">
        <label for="message">Message:</label>
        <textarea id="message" name="message" class="form-control" rows="3" style="height: 140px; min-width: 100%; max-width: 100%;">{{=current_proposal.message}}</textarea>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-12">
        <div class="btn-toolbar pull-right">
          {{send_text = 'Send Trade Proposal' if current_proposal.status == STATUS_PREPARE else 'Send Counter Proposal'}}
          <a href="{{=URL('trade', 'cancel_proposal', args=[current_proposal.id])}}" class="btn btn-default proposal-button">Cancel</a>
          <a href="{{=URL('trade', 'send_proposal', args=[current_proposal.id])}}" class="btn btn-success proposal-button send-proposal">{{=send_text}}</a>
        </div>
      </div>
    </div>
  </div>
  <a href="#summary" class="summary-link">
    <div id="trade-summary-bar" style="display: none;">
      <h4 style="margin-top: 10px; color: #333333;">
        <span class="glyphicon glyphicon-arrow-down"></span>
        View trade summary
        <span class="glyphicon glyphicon-arrow-down"></span>
      </h5>
    </div>
  </a>
</div>
