<div class="col-xs-12 col-sm-4" style="min-height: 135px;">
  <div class="panel {{=panel_type}}">
    <div class="panel-heading">
      {{=panel_heading}}
      <div data-toggle="tooltip" class="pull-right btn-link" title="{{=help_text}}">
        <span aria-label="Get help here" class="glyphicon glyphicon-info-sign"></span>
      </div>
    </div>
    <div class="list-group trade-list-group">
      {{if len(proposals) > 0:}}
      {{for proposal in proposals:}}
      <a href="{{=URL('trade', 'view', args=[proposal.id])}}" class="list-group-item" style="background: #d9edf7;">{{=proposal.title}}</a>
      {{pass}}
      {{else:}}
      <div class="list-group-item">{{=text_if_empty}}</div>
      {{pass}}
    </div>
  </div>
</div>
