<div class="col-md-6 col-sm-12">
  <div id="{{=section_id}}" class="panel panel-default proposal-items-panel">
    <div class="panel-heading">
      {{=proposal_items_label}}
    </div>
    <div id="summary-item-template" class="col-md-4" style="display: none;">
      <div class="thumbnail thumbnail-small">
        <img src="#"/>
        <div class="panel-body">
          <div class="object-name"></div>
          <div class="form-group form-group-sm quantity-form">
            <label for="quantity-item-template" class="pull-left control-label">Quantity</label>
            <div class="pull-right">
              <input type="text" value="1" id="quantity-item-template" class="form-control input-sm quantity-input"/>
              <span>/</span>
              <span class="quantity-limit">1</span>
              <input type="hidden" name="item_id" value=""/>
              <input type="hidden" name="item_limit" value=""/>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="form-group text-center" style="margin-bottom: 0;">
            <a href="#" class="btn btn-danger btn-xs remove-item proposal-button">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Remove
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
