<div class="container">
  {{include 'messages.html'}}
  <div class="row" style="margin-bottom: 20px;">
    <div class="col-md-6">
      <label>Name this proposal:</label>
      <input type="text" id="title" name="title" class="form-control" {{='placeholder' if current_proposal.title == DEFAULT_TRADE_TITLE else 'value'}}="{{=current_proposal.title}}" style="min-width: 100%; max-width: 100%;"></input>
    </div>
    <div class="col-md-6"></div>
  </div>
  
  <div class="row">
    <div class="col-md-8">
      <div class="tabs">
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" {{if selected_user.id != auth.user.id:}}class="active"{{pass}}>
            <a href="{{=URL(vars={'proposal': current_proposal.id, 'user': receiver.id})}}" class="proposal-button">Their Items</a>
          </li>
          <li role="presentation" {{if selected_user.id == auth.user.id:}}class="active"{{pass}}>
            <a href="{{=URL(vars={'proposal': current_proposal.id, 'user': auth.user.id})}}" class="proposal-button">Your Items</a>
          </li>

          <li class="collection-search">
            <form role="search" method="get" action="{{=URL(vars={'proposal': current_proposal.id, 'user': selected_user.id, 'collection': selected_collection.id})}}" class="search-form">
              <div class="input-group input-group-sm">
                <input type="hidden" value="{{=receiver.id}}" name="with">
                <input type="hidden" value="{{=selected_collection.id}}" name="collection">
                <input type="text" autocomplete="off"  value="{{=search}}" name="search" class="form-control input-sm" placeholder="Search this collection" list="objectsearch">
                <span class="input-group-btn">
                  <button type="submit" class="btn btn-default btn-sm search-button" title="Search"><i class="glyphicon glyphicon-search"></i></button>
                </span>
              </div>
            </form>
          </li>
        </ul>

        <datalist id="objectsearch">
          {{for item in all_collection_items:}}
          <option value="{{=item.name}}"></option>
          {{pass}}
        </datalist>

        <div class="tab-content">
        	{{if selected_user.id == auth.user.id:}}
          <div role="tabpanel" class="tab-pane active" id="your-items">
          {{else:}}
        	<div role="tabpanel" class="tab-pane active" id="their-items">
          {{pass}}
            <div class="col-md-4">
              <h3>Collections</h3>
              <div class="list-group">
                {{for collection in selected_users_collections:}}
                {{active_collection = collection.id == selected_collection.id}}
                <a href="{{=URL(vars={'proposal': current_proposal.id, 'user': selected_collection.owner, 'collection': collection.id})}}" class="list-group-item {{if active_collection:}}active{{pass}} proposal-button">
                  {{=collection.name}}
                </a>
                {{pass}}
              </div>
              <hr/>
            </div>
            <div class="col-md-8">
              {{if len(selected_items) > 0:}}
              {{for item in selected_items:}}
              {{item_selected = len([i for i in all_proposal_items if i.id == item.id]) > 0}}
                <div class="col-md-4 {{if item_selected:}}selected-panel{{pass}}">
                  <div class="thumbnail thumbnail-small">
                    {{if item_selected:}}
                    {{item_action = URL(vars={'proposal': current_proposal.id, 'user': selected_user.id, 'remove': item.id, 'collection': selected_collection.id})}}
                    {{else:}}
                    {{item_action = URL(vars={'proposal': current_proposal.id, 'user': selected_user.id, 'add': item.id, 'collection': selected_collection.id})}}
                    {{pass}}
                    <a href="{{=item_action}}" class="proposal-button">
                      <img src="{{=URL('default', 'download', args=[item.image])}}" class=""/>
                    </a>
                    <a href="{{=URL('object', 'view', args=[item.id])}}" target="_blank" class="proposal-button">
                      <div class="panel-body">
                        <h4>{{=item.name}}</h4>
                      </div>
                    </a>
                   <a href="{{=item_action}}" class="proposal-button">
                     <div class="panel-footer"></div>
                   </a>
                 </div>
               </div>
             {{pass}}
               {{else:}}
               <div class="alert alert-info">There are no objects in this collection.</div>
               {{pass}}
            </div>
          </div>

          {{if selected_user.id == auth.user.id:}}
        	<div role="tabpanel" class="tab-pane" id="their-items"></div>
          {{else:}}
          <div role="tabpanel" class="tab-pane" id="your-items"></div>
          {{pass}}
        </div>
      </div>
    </div>
    <div class="col-md-4">
    	{{proposal_items = proposal_items_from_receiver}}
      {{proposal_items_label = 'Their items:'}}
      {{include 'trade/proposal_items.html'}}

      {{proposal_items = proposal_items_from_sender}}
      {{proposal_items_label = 'Your items:'}}
      {{include 'trade/proposal_items.html'}}

      <div class="row">
        <div class="col-md-12" style="margin-bottom: 20px; padding: 0;">
          <label>Message:</label>
          <textarea id="message" name="message" class="form-control" rows="3" style="min-width: 100%; max-width: 100%;">{{=current_proposal.message}}</textarea>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="btn-toolbar pull-right">
            {{send_text = 'Send Trade Proposal' if current_proposal.status == STATUS_PREPARE else 'Send Counter Proposal'}}
            <a href="{{=URL('trade', 'cancel_proposal', args=[current_proposal.id])}}" class="btn btn-default proposal-button">Cancel</a>
            <a href="{{=URL('trade', 'send_proposal', args=[current_proposal.id])}}" class="btn btn-success proposal-button send-proposal">{{=send_text}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
