{{extend 'layout.html'}}

<div class = "container">
  <div class="row">
    {{if response.trade.status == STATUS_PREPARE:}}
    <div class="alert alert-info">This trade proposal is in preparation.</div>
    <div class="row text-center">
      <a href="{{=URL('trade', 'edit_proposal', vars={'proposal': response.trade.id})}}" class="btn btn-success">Edit Trade Proposal</a>
    </div>
    {{elif (response.trade.status == STATUS_OFFERED and auth.user.id == response.trade.sender) or (response.trade.status == STATUS_ACTIVE and auth.user.id == response.trade.receiver):}}
    <div class="alert alert-info">You have offered this trade proposal.</div>
    <div class="text-right">
      <a class="btn btn-danger" data-toggle="modal" data-target="#cancel_proposal_modal" title="This button opens up a confirmation model.">Cancel This Trade Proposal</a>
    </div>
    <!-- Modal -->
    {{
    modal_id = 'cancel_proposal_modal'
    modal_label = 'Cancel Trade Proposal'
    modal_body = 'You can cancel this trade proposal. This process cannot be reversed. Are you sure you want to proceed?'
    modal_link = A('Cancel This Trade Proposal', _href=URL('trade', 'cancel_proposal', args=[response.trade.id]),
    							 _type='button', _class='btn btn-danger')
    modal_aria_label = 'proposalCancellationModal'
    }}
    {{include 'modal.html'}}
    <!-- /Modal -->
    {{elif (response.trade.status == STATUS_OFFERED and auth.user.id == response.trade.receiver) or (response.trade.status == STATUS_ACTIVE and auth.user.id == response.trade.sender):}}
    <div class="alert alert-info">
      This trade proposal is still active.<br/><strong>Accept</strong> - if you like this trade<br/><strong>Reject</strong> - if don't want to carry on with negotiations<br/><strong>Counter</strong> - if you want you want to make a counter offer
    </div>
    <div class="row">
      <div class = "col-md-2 col-md-offset-1">
        <a  data-toggle="modal" data-target="#accept_proposal_modal" class = "btn btn-success">Accept</a>
      </div>
      <div class = "col-md-2 col-md-offset-2">
        <a href="{{=URL('trade', 'edit_proposal', vars=dict(proposal=response.trade.id))}}" type="button" class = "btn btn-warning">Counter</a>
      </div>
      <div class = "col-md-2 col-md-offset-2">
        <a  data-toggle="modal" data-target="#reject_proposal_modal" class = "btn btn-danger">Reject</a>
      </div>
    </div>
    <!-- Modal -->
    {{
    modal_id = 'reject_proposal_modal'
    modal_label = 'Reject Trade Proposal'
    modal_body = 'Are you sure you are no longer interested in this trade? Once the trade has been rejected...'
    modal_link = A('Reject This Trade', _href=URL('trade', 'reject_proposal', args=[response.trade.id]),
    							 _type='button', _class='btn btn-danger')
    modal_aria_label = 'RejectProposalModal'
    }}
    {{include 'modal.html'}}
    <!-- /Modal -->
    <!-- Modal -->
    {{
    modal_id = 'accept_proposal_modal'
    modal_label = 'Accept Trade Proposal'
    modal_body = ('This deal is legally binding. Once you accept a deal all the items will be exchanged. '
                  'Are you sure you wish to proceed?')
    modal_link = A('Accept This Trade Proposal', _href=URL('trade', 'accept_proposal', args=[response.trade.id]),
    							 _type='button', _class='btn btn-danger')
    modal_aria_label = 'AcceptProposalModal'
    }}
    {{include 'modal.html'}}
    <!-- /Modal -->
    {{elif response.trade.status == STATUS_ACCEPTED:}}
    <div class="alert alert-success">This trade has been accepted.</div>
    {{elif response.trade.status == STATUS_REJECTED:}}
    <div class="alert alert-danger">This trade has been accepted.</div>
    {{elif response.trade.status == STATUS_CANCELLED:}}
    <div class="alert alert-warning">This trade has been accepted.</div>
    {{pass}}
  </div>
  <div class="row">
    <hr/>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="user_name">
        <h4>{{=response.sender.username}}'s items</h4>
      </div>

      <div class = "user_items">
        {{for result in response.sender_items:}}
        <div class = "item_image col-md-4">
          {{=TAG.img(_width=60, _height = 80, _src=URL(r=request, c='default', f='download', args=[result.image]))}}
        </div>
        {{pass}}
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class = "user_name">
        <h4>{{=response.receiver.username}}'s items</h4>
      </div>
      <div class = "user_items">
        {{for result in response.receiver_items:}}
        <div class = "item_image col-md-4">
          {{=TAG.img(_width=60, _height = 80, _src=URL(r=request, c='default', f='download', args=[result.image]))}}
        </div>
        {{pass}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="message_box">
        <h4 class="message_title">Messages:</h4>
        <div class="trade_message">
          {{=response.trade.message}}
        </div>
      </div>
    </div>
  </div>
</div>
