<div class="row">
  <h2>{{=proposal_items_label}}</h2>
  <div class="panel panel-default col-md-12" style="min-height: 250px; padding: 0; margin: 0;">
    <div class="panel-body" style="padding: 15px 0;">
      <ul class="list-unstyled">
      {{for item in proposal_items:}}
        <li class="col-md-4" style="margin: 0;">
          <div class="thumbnail thumbnail-small" style="margin: 0;">
            <a href="{{=URL('object', 'view', args=[item.id])}}" target="_blank">
              <img src="{{=URL('default', 'download', args=[item.image])}}" alt="{{=item.name}}" class=""/>
              <div class="panel-body">{{=item.name}}</div>
            </a>
            <div class="panel-footer">
              {{item_quantity = proposal_items[item]}}
              <div>Value: &pound;{{="%.2f" % item.price}}</div>
              <div>Quantity: {{=item_quantity[0]}}</div>
            </div>
          </div>
        </li>
      {{pass}}
    </ul>
    </div>
  </div>
</div>
