<div class="header">
  <div class="top-bar">
    <div class="container">
      <div class="row">
        {{if auth.user:}}
        <div class="dropdown pull-right">
          <a href="#" class="dropdown-toggle nounderline" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-user"></span> {{=auth.user.username}} <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="{{=URL('auth', 'edit')}}" title="Edit My Details">Settings</a></li>
            <li><a href="{{=URL('auth', 'sign_out')}}" title="Sign Out">Sign Out</a></li>
          </ul>
        </div>
        <div class="dropdown pull-right">
          <a href="#" class="dropdown-toggle nounderline" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-plus"></span> New <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="{{=URL('trade', 'new')}}">Trade</a></li>
            <li><a href="{{=URL('object', 'create')}}">Item</a></li>
            <li><a href="{{=URL('collection', 'create')}}">Collection</a></li>
          </ul>
        </div>
        {{else:}}
        <div class="pull-right">
          {{if request.controller == 'default' and request.function == 'index':}}
          <a href="{{=URL('auth', 'register')}}" title="Register">Register</a>
          <a href="{{=URL('auth', 'sign_in')}}" title="Sign In">Sign In</a>
          {{else:}}
          <a href="{{=URL('auth', 'register', vars={'_next': URL()})}}" title="Register">Register</a>
          <a href="{{=URL('auth', 'sign_in', vars={'_next': URL()})}}" title="Sign In">Sign In</a>
          {{pass}}
        </div>
        {{pass}}
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <nav class="navbar ">
      <ul class="nav navbar-nav navbar-left">
        <li><div class="brand"><a href="{{=URL('default', 'index')}}">CollectShare</a></div></li>
        <li class="{{if URL('default', 'index') == URL():}}active{{pass}}"><a href="{{=URL('default', 'index')}}"><span class="glyphicon glyphicon-home"></span> Home</a></li>
        <li class="{{if request.controller == 'collection' or request.controller == 'object':}}active{{pass}}"><a href="{{=URL('collection', 'my')}}"><span class="glyphicon glyphicon-folder-open"></span> Collections</a></li>
        <li class="{{if request.controller == 'trade':}}active{{pass}}"><a href="{{=URL('trade', 'index')}}"><span class="glyphicon glyphicon-transfer"></span> Trades</a></li>
      </ul>
      <form class="main-search-form pull-right" method="get" action="{{=URL('default', 'search')}}" role="search">
        <div class="input-group">
          <label for="main-search" class=" hidden">Search for item name</label>
          <input type="search" class="form-control" name="q" id="main-search" placeholder="Search for item name..." value="{{if request.vars.q:}}{{=request.vars.q}}{{pass}}">
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search" aria-label="Search"></span></button>
          </span>
        </div>
        <small><a href="{{=URL('default', 'search')}}" class="pull-right">Advanced Search</a></small>
      </form>
    </nav>
  </div>
</div>
