{{if request.vars.message == 'wantit':}}
<div class="alert alert-info">The item has been added to your <strong>Default</strong> collection.</div>
{{elif request.vars.message == 'newcollection':}}
<div class="alert alert-success">You've succesfully created a new collection</div>
{{elif request.vars.message == 'object_created':}}
<div class="alert alert-success">You've added the item successfully.</div>
{{elif request.vars.message == 'object_updated':}}
<div class="alert alert-success">You've updated item successfully.</div>
{{elif request.vars.message == 'new_collection':}}
<div class="alert alert-success">
  You have successfully created a new collection.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{elif request.vars.message == 'edit_collection':}}
<div class="alert alert-success">
  You have successfully edited the collection.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{elif request.vars.message == 'invalid_quantity':}}
<div class="alert alert-danger">Please check the selected item quantities</div>
{{pass}}
