/*---------------------------------------------   Top Bar   ----------------------------------------------*/

.top-bar {
	padding: 0 15px;
  height: 42px;
  color: rgb(155, 159, 162);
  background: rgb(47, 51, 56);
}

.top-bar a {
  line-height: 42px;
  color: rgb(155, 159, 162);
  margin-left: 10px;
  margin-right: 10px;
  font-size: 12px;
}

h2.error-header {
	font-size: 50px;
	text-align: center;text-shadow: 0 4px 0 #dcdcdc;
}

/*---------------------------------------------   Navbar   -----------------------------------------------*/

.navbar {
  padding: 0 15px;
	margin-bottom: 0;
}

.brand {
	font-size: 23px;
	line-height: 80px;
	margin-right: 30px;
}

.brand a {
	color: black;
  text-decoration: none;
}

.main-search-form {
  width: 250px;
  margin-top: 23px;
}


/*------------------------------------   Page Title & Breadcrumbs   --------------------------------------*/

.page-title {
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 20px;
}

.page-title h1 {
  line-height: 54px;
  font-size: 20px;
  color: #313538;
  margin: 0 0 0 10px !important;
  padding: 0 !important;
  float: left;
}

.page-title .breadcrums {
  float: right;
  margin: 0;
  padding: 0;
  font-size: 11px;
  color: #c4c4c4;
}

.page-title .breadcrums li {
  display: inline-block;
  line-height: 54px;
  list-style: none;
  font-size: 11px;
  color: #313538;
  margin-right: 10px;
  float: left;
}

.page-title .breadcrums li:first-child:after {
    content: none;
}

.page-title .breadcrums li:after {
    content: ' » ';
}
.page-title .breadcrums li:last-child:after {
    content: none;
}

.page-title .breadcrums li a {
	line-height: 54px;
	color: #313538;
}


/*----------------------------------------------   Forms   -----------------------------------------------*/

.form-field-description {
  font-size: 13px !important;
}


/*-------------------------------------------   Form Errors   --------------------------------------------*/

input.invalidinput {
  border-color: red !important;
}

input.invalidinput:focus {
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 92, 92, .6) !important;
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 92, 92, .6) !important;
}

.error_wrapper .error {
  color: red;
}


/*-------------------------------------------   Collections   --------------------------------------------*/

.collection-settings {
	float: right !important;
}

.collection-search {
	float: right !important;
	margin-right: 30px;
}

.collection-search form {
	max-width: 200px !important;
}

.collection-list {
	list-style: none;
		padding: 0!important;
		margin: 0!important;
}

.collection-list li {
	margin: 0!important;
}

.caption h3 {
	min-height: 40px;
	border-bottom: 1px solid lightgray;
}

/*-----------------------------------------   Trade Summaries   ------------------------------------------*/

.summary_box {
	border: .1em solid #ccc;
	margin-bottom: 3em;
}

.summary_title {
	text-align: center;
}

.sender_part {
	border-top: .1em solid #ccc;
	border-right: .1em solid #ccc;
}

.receiver_part {
	border-top: .1em solid #ccc;
	border-left: .1em solid #ccc;
}

.user_name {
	text-align: center;
	border-bottom: .1em solid #ccc;
	margin-bottom: 1em;
}

.item_image {
	margin-bottom: .5em;
}

.message_box {
	border-top: .1em solid #ccc;
	margin-top: 1em;
}

.trade_message {
	border: .1em solid #ccc;
}

.trade_but {
	margin-top: 2em;
	margin-bottom: 1em;
}


/*------------------------------------  Object/create.html   ------------------------------------------*/

.form_field_top{
	margin-top:10px;

}

.form_field{
	margin-top:30px;
}

.obj_label{
    	margin-right: -20px;
    	margin-left: -20px;

    	display: inline-block;
    	max-width: 100%;
    	margin-bottom: 5px;
    	font-weight: bold;
}

.obj_field{
	margin-right: -20px;
    	margin-left: -20px;
}


.description{
	font-size: 13px !important;
	margin: 0 0 10px;
	box-sizing: border-box;
	display: block;
	margin:0 0 0 1.5em;
}

.obj_submit{
	margin-left: 18em;;
}

.cancel_button a{
	text-decoration: none;
	color: white;
}


.trade_status {
	border: .1em solid #ccc;
	margin-bottom: 3em;
}

.table_title {
	text-align: center;
}


/*-----------------------------------------   Object/view.html  -----------------------------------------------*/

.obj_img{
	margin: 1.5em 0 1.5em 0;
}

.obj_view_all{
	border: .1em solid #ccc;
	margin: 1.5em 0 1.5em 0;
}

.obj_name{
	margin: .5em 0 .5em .8em;
}

.obj_setting{
	margin-top: 1.2em;
}

.obj_view_top{
	border-bottom: .1em solid #ccc;
}

.obj_view_detail ul{
	margin: 0 0 2em 0;
}

.obj_view_detail li{
	display: block;
	margin: 1em 2em 0 0;
}

.back_button {
	float: right;
}

.back_button a{
	text-decoration: none;
	color: white;
}


/*------------------------------------------   Trade Editing   -------------------------------------------*/

.panel-footer {
	background: inherit;

}
.panel-body {
	font-size: 0.95em;
}
.panel-footer div {
	font-size:0.8em;
}

.quantity-input {
	width: 30px;
	padding: 0 5px;
	margin-right: 5px;
	display: inline;
}

.selected-panel {
background-color: #dff0d8;
border-color: #d6e9c6;
}

.trade-list-group {
	min-height: 240px;
	overflow-y: scroll;
}

#trade-summary-bar {
	border-radius: 15px 15px 0 0;
  background-color: #3884c7;
  position: fixed;
  left: 40%;
  right: 40%;
  bottom: 0;
  height: 40px;
  text-align: center;
  z-index: 99999;
}

.trading-window {
	height: 530px;
	overflow-y: auto;
}

.collections-list {
	padding-right: 15px;
	height: 180px;
	overflow-y: auto;
}


/*-----------------------------------------   Item Thumbnails   ------------------------------------------*/

.thumbnail-small img {
	height: 100px !important;
}

.thumbnail-small h4 {
	font-size: 0.8em;
	margin: 0px;
	height: 25px
}

.object-name {
	font-size: 0.8em;
	margin: 0px;
	height: 32px;
	overflow-y: hidden;
}


/*-----------------------------------------   New Trade Page   -------------------------------------------*/

.new-trade-search-option {
	margin-top: 20px;
}

.new-trade-search-option + .new-trade-search-option {
	border-left: 1px solid lightgray;
}

.new-trade-search-panel {
	margin-top: 0;
	min-height: 170px;
}

.new-trade-search-panel form {
	position: absolute;
	bottom: 15px;
}

@media (max-width: 992px) {
	.new-trade-search-panel {
	  min-height: inherit;
  }

	.new-trade-search-panel form {
	  position: inherit;
	  bottom: auto;
	}

	.new-trade-search-option + .new-trade-search-option {
	  border-left: 0;
  }
}


/*----------------------------------------------   Footer   ----------------------------------------------*/

html {
  position: relative !important;
  min-height: 100% !important;
}

body {
  min-height: 100% !important;
  height: 100% !important;
  margin-bottom: 80px !important;
  width: 100% !important;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 20px;
	height: 60px;
	color: white;
	background: #2F3338;
}

.footer p {
  margin-bottom: 0;
  text-align: center;
}

@media (max-width: 1300px) {
	body { margin-bottom: 100px !important; }
  .footer { height: 80px; }
}

@media (max-width: 650px) {
	body { margin-bottom: 120px !important; }
  .footer { height: 100px; }
}

@media (max-width: 450px) {
	body { margin-bottom: 140px !important; }
  .footer { height: 120px; }
}

@media (max-width: 350px) {
	body { margin-bottom: 160px !important; }
  .footer { height: 140px; }
}

.container-fluid {
	padding-left: 0;
	padding-right: 0;
}


nav ul li.active {
	text-decoration: none;
	border-bottom: 1px #4874cd solid;
	margin-bottom: -1px;
}

nav ul li.active * {
	color: #4874cd !important;
}

.nounderline:hover,.nounderline:focus {
	text-decoration: none;
}

.form-helper {
  font-size: 8pt;
	text-align: justify;
}

.hidden {
  display: none;
  visibility: hidden;
}

.hide {
  display: none;
}

.wrap {
	word-wrap: break-word;
}

