
/*													  												  BASE ^
-----------------------------------------------------------------------------------------------------------*/

@font-face {
	font-family: 'FontAwesome';
	src: url('../fonts/icon/fontawesome.eot?v=3.0.1');
	src: url('../fonts/icon/fontawesome.eot?#iefix&v=3.0.1') format('embedded-opentype'),
		 url('../fonts/icon/fontawesome.woff?v=3.0.1') format('woff'),
		 url('../fonts/icon/fontawesome.ttf?v=3.0.1') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSansBold';
    src: url('../fonts/OpenSans-Bold.eot');
    src: url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Bold.woff') format('woff'),
         url('../fonts/OpenSans-Bold.ttf') format('truetype'),
         url('../fonts/OpenSans-Bold.svg#OpenSansBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'OpenSansSemiboldRegular_italic';
    src: url('../fonts/OpenSans-SemiboldItalic.eot');
    src: url('../fonts/OpenSans-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-SemiboldItalic.woff') format('woff'),
         url('../fonts/OpenSans-SemiboldItalic.ttf') format('truetype'),
         url('../fonts/OpenSans-SemiboldItalic.svg#OpenSansSemiboldRegular_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'OpenSansSemiboldRegular';
    src: url('../fonts/OpenSans-Semibold.eot');
    src: url('../fonts/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Semibold.woff') format('woff'),
         url('../fonts/OpenSans-Semibold.ttf') format('truetype'),
         url('../fonts/OpenSans-Semibold.svg#OpenSansSemiboldRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'OpenSansRegular';
    src: url('../fonts/opensans-regular.eot');
    src: url('../fonts/opensans-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular.woff') format('woff'),
         url('../fonts/opensans-regular.ttf') format('truetype'),
         url('../fonts/opensans-regular.svg#OpenSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'OpenSansLightItalic';
    src: url('../fonts/opensans-lightitalic.eot');
    src: url('../fonts/opensans-lightitalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-lightitalic.woff') format('woff'),
         url('../fonts/opensans-lightitalic.ttf') format('truetype'),
         url('../fonts/opensans-lightitalic.svg#OpenSansLightItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'OpenSansLightRegular';
    src: url('../fonts/opensans-light.eot');
    src: url('../fonts/opensans-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-light.woff') format('woff'),
         url('../fonts/opensans-light.ttf') format('truetype'),
         url('../fonts/opensans-light.svg#OpenSansLightRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'OpenSansItalic';
    src: url('../fonts/opensans-italic.eot');
    src: url('../fonts/opensans-italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-italic.woff') format('woff'),
         url('../fonts/opensans-italic.ttf') format('truetype'),
         url('../fonts/opensans-italic.svg#OpenSansItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'OpenSansExtraboldRegular';
    src: url('../fonts/opensans-extrabold.eot');
    src: url('../fonts/opensans-extrabold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-extrabold.woff') format('woff'),
         url('../fonts/opensans-extrabold.ttf') format('truetype'),
         url('../fonts/opensans-extrabold.svg#OpenSansExtraboldRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'OpenSansBold_italic';
    src: url('../fonts/OpenSans-BoldItalic.eot');
    src: url('../fonts/OpenSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-BoldItalic.woff') format('woff'),
         url('../fonts/OpenSans-BoldItalic.ttf') format('truetype'),
         url('../fonts/OpenSans-BoldItalic.svg#OpenSansBold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'bebas_neueregular';
    src: url('../fonts/bebasneue.eot');
    src: url('../fonts/bebasneue.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebasneue.woff') format('woff'),
         url('../fonts/bebasneue.ttf') format('truetype'),
         url('../fonts/bebasneue.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'great_vibesregular';
    src: url('../fonts/greatvibes-regular.eot');
    src: url('../fonts/greatvibes-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/greatvibes-regular.woff') format('woff'),
         url('../fonts/greatvibes-regular.ttf') format('truetype'),
         url('../fonts/greatvibes-regular.svg#great_vibesregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body, .content-wrapper {
  height: 100% !important;
}
body > .content-wrapper {
  height: auto !important;
  min-height: 100% !important;
}

.top-bar{
  background: rgb(47,51,56);
  color: rgb(155, 159, 162);
  height: 42px;
}
.top-bar .brand{
  float: left;
  font-weight: 400;
  font-size: 30px;
  margin-left:10px;
  text-shadow: 1px 1px black;
}
.top-bar a{
  line-height: 42px;
  color: rgb(155, 159, 162);
  float:right;
  margin-left: 10px;
  margin-right:10px;
  font-size:12px;
}
.menu {
  background:white;
  height:80px;
}
.menu .logo {
  line-height: 80px;
  font-size: 22px;
  float:left;
}
.main-menu {
  float:right;
}

.main-menu-search-from {
  width:250px;
  float:right;
  margin-top: 23px;
}
.page-title {
  border-top: 1px solid #E4E4E4;
  border-bottom:1px solid #E4E4E4;
  margin-bottom: 20px;
}
.page-title h1{
  line-height:54px;
  font-size: 20px;
  color: #313538;
  margin: 0 0 0 10px !important;
  padding: 0 !important;
  float:left;
}
.page-title .breadcrums {
  float: right;
  margin: 0;
  padding: 0;
  font-size: 11px;
  color: #c4c4c4;
}
.page-title .breadcrums li {
  display: inline-block;
  line-height:54px;
  list-style: none;
  font-size: 11px;
  color: #c4c4c4;
  margin-right: 10px;
  float:left;
}

.page-title .breadcrums li:first-child:after {
    content: none;
}

.page-title .breadcrums li:after {
    content: ' » ';
}
.page-title .breadcrums li:last-child:after {
    content: none;
}

.page-title .breadcrums li a{
	line-height:54px;
	color: #c4c4c4;
}

.collection-settings {
	float:right !important;
}
.collection-search {
	float:right !important;
	margin-right: 30px;
}
.collection-search form {
	max-width: 200px !important;
}

input.invalidinput {
  border-color: red !important;
}
input.invalidinput:focus {
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 92, 92, .6) !important;
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 92, 92, .6) !important;
}
.error_wrapper .error {
  color: red;
}

.form-field-description {
  font-size: 13px !important;
}

.brand {
	line-height: 80px;
	font-size: 23px;
	margin-right: 30px;
	float:left;
	margin-left:10px;
}

/* css for tradesummary.html*/
.summary_box{
	border:.1em solid #ccc;
	margin-bottom: 3em;
}

.summary_title{
	text-align: center;
}

.sender_part{
	border-top:.1em solid #ccc;
	border-right: .1em solid #ccc;
}

.receiver_part{
	border-top:.1em solid #ccc;
	border-left: .1em solid #ccc;
}


.user_name{
	text-align: center;
	border-bottom: .1em solid #ccc;
	margin-bottom: 1em;
}

.item_image{
	margin-bottom: .5em;
}

.message_box{
	border-top:.1em solid #ccc; 
	margin-top: 1em;
}

.trade_message{
	border:.1em solid #ccc;
}

.trade_but{
	margin-top: 2em;
	margin-bottom: 1em;
}

/*css for viewtradestatus.html*/
.trade_status{
	border:.1em solid #ccc; 
	margin-bottom:3em;
}

.table_title{
	text-align: center;
}


footer {
	clear: both;
  position: relative;
  z-index: 10;
	background: #2F3338;
	height: 74px;
	line-height: 64px;
  margin-top: -74px;
	border-top: 10px solid white;
	color: #65686D;
}

.selected-panel {
  background-color: #E6E6E6;
}

