{{extend 'layout.html'}}

<div class="page-title">
  <div class="container">
    <h1>Add Object</h1>
    <div class = "create_obj_intro">
		  <p>This is a webpage for you to create your object. You need to enter the information 
			  about your object in each field. Please do not forget to press the submit button after
			  finishing it.
		  </p>
		  <p id = "create_obj_note">
			  *Please be aware that if you currently do not have an image of your object, we provide 
			  a default image for you. You are very welcome to upload your image once you have it for 
			  your object by choosing the option of Edit of your object. The quantity entry is the 
			  number of the objects you have while the tradable quantity is the number of the objects 
			  that you want to trade with people.
		  </p>
	  </div>
    <div class="breadcrums">
      <ul>
        <li>You are here:</li>
        <li><a href="{{=URL('default')}}">Home</a></li>
        <li><a href="{{=URL('default')}}">Home</a></li>
        <li><a href="{{=URL('default')}}">Home</a></li>
      </ul>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<div class="container">
<div class="flash">{{=response.flash or ''}}</div>
  {{=addobjectform}}
</div>
