{{extend 'layout.html'}}

<div class="page-title">
  <div class="container">
  <h1>Update Object</h1>
  
  <div class = "update_obj_intro">
	  <p>This is a webpage for you to update your object. You can change the information 
		  about your object if you will to. Please do not forget to submit your changes after
		  filling up the form.
	  </p>
  </div>
  
  <div class="breadcrums">
    <ul>
      <li>You are here:</li>
      <li><a href="{{=URL('default')}}">Home</a></li>
      <li><a href="{{=URL('default')}}">Home</a></li>
    </ul>
  </div>
</div>
  <div class="clearfix"></div>
</div>
<div class="container">
<div class="flash">{{=response.flash or ''}}</div>
{{=updateobjectform}}
</div>
