{{extend 'layout.html'}}

<div class = "container">
  <div class = "row">
		{{include 'messages.html'}}
		<div class = "col-md-4 obj_img">
       <img src = "{{=URL('default', 'download', args=[str(response.result.image)])}}" alt="Thumbnail of {{=response.result.name}}" width = "100%"/>
    </div>

  	<div class = "col-md-8 obj_view_all">
		  <div class = "col-md-12 obj_view_top" style="padding: 0;">
				<div class = "col-md-9">
				  <h2 class = "obj_name wrap">{{=response.result.name}}</h2>
				</div>
				<div class = "col-md-3 obj_setting">
					{{if auth.user_id == response.result.owner:}}
					<div class="pull-right" role="group" aria-label="Options">
						<a href="{{=URL('object', 'update', args=[response.result.id])}}" class="btn btn-default" style="width: 74px">Edit</a>
						<a href="{{=URL('object','delete', args=[response.result.id])}}" class="btn btn-danger" style="width: 74px">Delete</a>
				  </div>
          <div class="clearfix"></div>
          {{else:}}
          <div class="pull-right" role="group" aria-label="Options">
            {{search_vars = dict()}}
            {{if response.q: search_vars[q] = response.q}}
            {{if response.min: search_vars[min] = response.min}}
            {{if response.max: search_vars[max] = response.max}}
            {{if response.u: search_vars[u] = response.u}}
            {{response_vars = dict()}}
            {{if len(search_vars) > 0: response_vars[url] = URL('default', 'search', vars=search_vars)}}
            <a href="{{=URL('collection', 'wantit', args=[response.result.id], vars=response_vars)}}" class="btn btn-primary" style="width: 74px">Want It</a>
            {{if auth.user:}}
            {{users_public_collection_count = db((db.collection.owner == auth.user.id)
                                                 & (db.collection.public == True)).count()}}
            {{if users_public_collection_count > 0:}}
            <a href="{{=URL('collection', 'getit', args=[response.result.id])}}" class="btn btn-warning" style="width: 74px">Get It</a>
            {{pass}}
            {{pass}}
          </div>
          {{pass}}
				</div>
			</div>

			<form class="col-md-12 form-horizontal" style="padding: 15px 40px;">
        <div class="form-group">
          <label class="col-md-3" for="item-collection">Collection:</label>
          <div id="item-collection" class="col-md-9">{{=response.result.collection.name}}</div>
        </div>
			  <div class="form-group">
          <label class="col-md-3" for="item-category">Category:</label>
          <div id="item-category" class="col-md-9">{{=response.category}}</div>
        </div>
        <div class="form-group">
          <label class="col-md-3" for="item-value">Value:</label>
          <div id="item-value" class="col-md-9">&pound;{{="%.2f" % response.result.price}}</div>
        </div>
        <div class="form-group">
          <label class="col-md-3" for="item-quantity">Quantity:</label>
          <div id="item-quantity" class="col-md-9">{{=response.result.quantity}}</div>
        </div>
        <div class="form-group">
          <label class="col-md-3" for="item-tradable-quantity">Quantity to Trade:</label>
          <div id="item-tradable-quantity" class="col-md-9">{{=response.result.tradable_quantity}}</div>
        </div>
        <div class="form-group">
          <label class="col-md-3" for="item-wanted-quantity">Quantity Wanted:</label>
          <div id="item-wanted-quantity" class="col-md-9">{{=response.result.wanted_quantity}}</div>
        </div>
        <div class="form-group">
          <label class="col-md-3" for="item-description">Description:</label>
          <div id="item-description" class="col-md-9">{{=response.result.description}}</div>
        </div>
      </form>
		</div>
	</div>
</div>

<script>
function previousPage() {
    window.history.back();
}
</script>


