{{extend 'layout.html'}}

<div class = "container">
  <div class = "row">
		{{include 'messages.html'}}
		<div class = "col-md-4 obj_img">
       <img src = "{{=URL('default', 'download', args=[str(response.result.image)])}}" alt="Thumbnail of {{=response.result.name}}" width = "100%"/>
    </div>

  	<div class = "col-md-8 obj_view_all">
		  <div class = "col-md-12 obj_view_top" style="padding: 0;">
				<div class = "col-md-9">
				  <h2 class = "obj_name wrap">{{=response.result.name}}</h2>
				</div>
				<div class = "col-md-3 obj_setting">
					{{if auth.user_id == response.result.owner:}}
					<div class="pull-right" role="group" aria-label="Options">
						<a href="{{=URL('object', 'update', args=[response.result.id])}}" class="btn btn-default" style="width: 74px">Edit</a>
						<a href="{{=URL('object','delete', args=[response.result.id])}}" class="btn btn-danger" style="width: 74px">Delete</a>
				  </div>
          <div class="clearfix"></div>
          {{else:}}
          <div class="pull-right" role="group" aria-label="Options">
            {{search_vars = dict()}}
            {{if response.q: search_vars[q] = response.q}}
            {{if response.min: search_vars[min] = response.min}}
            {{if response.max: search_vars[max] = response.max}}
            {{if response.u: search_vars[u] = response.u}}
            {{response_vars = dict()}}
            {{if len(search_vars) > 0: response_vars[url] = URL('default', 'search', vars=search_vars)}}
            <a href="{{=URL('collection', 'wantit', args=[response.result.id], vars=response_vars)}}" class="btn btn-primary" style="width: 74px">Want It</a>
            <a href="{{=URL('collection', 'getit', args=[response.result.id])}}" class="btn btn-warning" style="width: 74px">Get It</a>
          </div>
          {{pass}}
				</div>
			</div>

			<div class = "col-md-12 obj_view_detail" style="padding: 0;">
				<ul list-unstyled>
					<li><strong>Category: </strong>{{=response.category}}</li>
					<li><strong>Collection: </strong>{{=response.result.collection.name}}</li>
					<li><strong>Value: </strong>&pound;{{=response.result.price}}</li>
    		  <li><strong>Quantity: </strong>{{=response.result.quantity}}</li>
    	    <li><strong>Tradable Quantity: </strong>{{=response.result.tradable_quantity}}</li>
    	    <li><strong>Wanted Quantity: </strong>{{=response.result.wanted_quantity}}</li>
					<li><strong>Description: </strong></li>
					<p class = "description_detail">{{=response.result.description}}</p>
				</ul>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>

<script>
function previousPage() {
    window.history.back();
}
</script>


