{{extend 'layout.html'}}

<div class="page-title">
  <div class="container">
  <h1>Trade Summary</h1>
  <div class="breadcrums">
    <ul>
      <li>You are here:</li>
      <li><a href="{{=URL('default')}}">Home</a></li>
      <li><a href="{{=URL('default')}}">Home</a></li>
    </ul>
  </div>
</div>
  <div class="clearfix"></div>
</div>

<div class = "container">
	<div class = "row">
		<div class = "summary_box col-md-6 col-md-offset-3">	
			<div class = "summary_title">
				<h2>SUMMARY</h2>
			</div>
			
			<div class = "sender_part col-md-6">
				<div class = "user_name">
					{{for result in trade_record:}}
					<h4>{{=result.sender}}'s items</h4>
					{{pass}}
				</div>
					
				<div class = "user_items">
					{{for result in sender_items:}}
					<div class = "item_image col-md-4">
					{{=TAG.img(_width=60, _height = 80, _src=URL(r=request, c='default', f='download', args=[result.image]))}}
					</div>
					{{pass}}
				</div>
			</div>
			
			<div class = "receiver_part col-md-6">
				<div class = "user_name">
					{{for result in trade_record:}}
					<h4>{{=result.receiver}}'s items</h4>
					{{pass}}
				</div>
				<div class = "user_items">
					{{for result in receiver_items:}}
					<div class = "item_image col-md-4">
					{{=TAG.img(_width=60, _height = 80, _src=URL(r=request, c='default', f='download', args=[result.image]))}}
					</div>
					{{pass}}
				</div>
			</div>
			
			<div class = "col-md-12">
				<div class = "message_box">
					<h4 class = "message_title">Messages:</h4>
					{{for result in trade_record:}}
					<div class = "trade_message">
						{{=result.message}}
						{{pass}}
					</div>
				</div>
			</div>
			
			<div class = "trade_button col-md-12">
				<div class = "col-md-2 col-md-offset-1">
					<div class = "trade_but">
						<button type="button" class = "btn btn-success">Accept</button>
					</div>
				</div>
			
				<div class = "col-md-2 col-md-offset-2">
					<div class = "trade_but">
						<button type="button" class = "btn btn-warning">Reject</button>
					</div>
				</div>
			
				<div class = "col-md-2 col-md-offset-2">
					<div class = "trade_but">
						<button type="button" class = "btn btn-danger">Counter</button>
					</div>
				</div>	
			</div>
		</div>
	</div>
</div>
